.js-calculator {
    width: 500px;
    margin: 0 auto;
    margin-top: 180px;
    padding: 60px;
    background-color: rgb(199, 199, 236);
    text-align: center;
    border: solid 1px black;

}

.operations-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    position: relative;
}

.operations-buttons::before {
    margin-top: 42px;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid black;
    z-index: 0;
}


.operations-buttons button {
    background-color: rgb(211, 202, 202);
    padding: 15px 22px;
    /* margin-right: 55px; */
    border-color: rgb(63, 61, 61);
    font-family: serif;
    font-weight: bold;
}

.input-block {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.input-block_text input {
    text-align: center;
}